<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">

    <nav class="site-nav">
      <div class="menu-wrapper">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
          <label for="nav-trigger" class="menu-toggle">
            <div class="icon-container">
              <svg class="menu-icon" viewBox="0 0 100 100" width="40" height="40">
                <path class="line top" d="M20,10h60" />
                <path class="line middle" d="M20,40h60" />
                <path class="line bottom" d="M20,70h60" />
              </svg>
            </div>
          </label>
        <div class="trigger">
          <nav class="main-nav">
            <a href="/">Home</a>
            <a href="/about/">About&nbsp;LuxForge</a>
            <a href="/tags/">Browse&nbsp;Tags</a>
            <a href="/archive/">Incident&nbsp;Archive</a>
          </nav>
        </div>
      </div>
    </nav>
  </div>
</header>
