// LUXFORGE custom CSS colouring :)

// Required patch to ensure V2 - V3 crossover for now. Can be removed once upgraded in github
$grey-color-dark:	#444; // deeper contrast for dark mode
$grey-color:		#999;
$grey-color-light:	#ccc;

// Text colours
$text-color:		#c0c0c0;
$code-background-color: #222;

// Link colours
$link-base-color:	#d0a0ff;
$link-hover-color:	lighten($link-base-color, 10%);

// Brand colours
$brand-color:		#dbd0f1;

// Code colours
$code-bg: #1a1a1a;
$code-fg: #e0e0e0;

$text-muted: #888; // or try #999, #aaa, or a custom LuxForge shade
$brand-glow: #00ffe0; // LuxForge neon teal, or pick your signature glow
